



/* ==================== */
/*   About Us Section   */
/* ==================== */
.empty-div-to-move-down-the-about-us-container{
    height: 6em;
}
.container-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}
.about-us-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 80em;
    border-radius: 1em;
    margin: 3em 2em 2em 2em;
    padding: 2em 2em 2em 2em;
    --s: 8em; /* the size on the corner */
    --t: .2em;  /* the thickness of the border */
    --g: 20px; /* the gap between the border and image */
    
    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid var(--white); /* the color here */
    outline-offset: calc(-1*var(--t));
    mask:
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
    0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
    transition: .25s;
}
.wrapper-for-flex{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    position: relative;
}
.about-us-paragraph{
    display: inline;
    float: left;
    margin: .5em .5em .5em .5em;
    max-width: 50em;
    font-size: clamp(.75rem, 7vw, 1.5rem);
    color: var(--white);
}
.p1-margin-controller{
    margin: .5em .5em .0em .5em;
}
.p2-margin-controller{
    margin: .0em .5em .5em .5em;
}
.about-us-img{
    border-radius: 1em;
    margin: .5em .5em .5em .5em;
    width: 15em;
    height: 15em;
    aspect-ratio: 1/1;
}
@media screen and (max-width: 850px) {    
    .wrapper-for-flex{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 460px) {
    .about-us-img{
        width: 10em;
    }
}
@media screen and (max-width: 425px) {
    .about-us-container{
        padding: 1em;
        --s: 5em;
    }
    .about-us-paragraph{
        font-size: .75rem;
        margin: auto;
    }
    .about-us-img{
        margin: .5em;
    }
}

/* ==================== */
/*      Map Section     */
/* ==================== */
.embeded-map-container{
    display: flex;
    justify-content: center;
}
.embeded-map{
    margin-top: 1em;
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 3em;
    height: 35em;
    width: 60em;
}
@media screen and (max-width: 1550px) {
    .embeded-map{
        
    }
}


/* ==================== */
/*    Bottom Section   */
/* ==================== */